{% extends 'base.html.twig' %}
{% block body %}

    <h3 class="mb-4 mt-3">Ads</h3>
    <div class="card mb-3">
        <div class="accordion" id="accordionAdForm">
            <div class="accordion-item">
                <div class="card-header cursor-pointer" data-bs-toggle="collapse" data-bs-target="#collapseForm" aria-controls="collapseForm" {% if formValid == 'false' %}aria-expanded="true"{% else %}aria-expanded="false"{% endif %}>
                    Create New Ad
                </div>
                <div id="collapseForm" class="accordion-collapse collapse {% if formValid == 'false' %}show{% endif %}" aria-labelledby="headingForm" data-bs-parent="#accordionAdForm">
                    <div class="card-body">
                        {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card list-of-ads">
        <div class="card-header">
            List of Ads
        </div>
        <div class="card-body">
            {% for app in appsList %}
            <ol class="list-group list-group-numbered mb-4">
                <h4 class="mb-2">{{ app }}</h4>
                    {% for ad in ads %}
                        {% if ad.getApp.name == app %}
                            <li class="list-group-item d-flex justify-content-between align-items-start" {{ stimulus_controller('handle-ad') }}>
                                <div class="ms-2 me-auto">
                                    <div class="d-none" {{ stimulus_target('handle-ad', 'id') }}>{{ ad.id }}</div>
                                    <div class="fw-bold" {{ stimulus_target('handle-ad', 'name') }}>{{ ad.name }} {% if ad.active %}- <span class="text-success fw-bold">Active</span>{% endif %}</div>
                                    <div>{{ ad.message }}</div>
                                    <a href="{{ ad.url }}" target="_blank" class="url">{{ ad.url }}</a>
                                    {% if ad.adImage %}
                                        <img src="/files/{{ ad.adImage.getFilePath }}">
                                    {% endif %}
                                </div>
                                <span class="badge bg-secondary rounded-pill cursor-pointer" data-action="click->handle-ad#delete">Delete</span>
                                {% if not ad.active %}<span class="badge bg-success rounded-pill cursor-pointer ms-2" data-action="click->handle-ad#activate">Activate</span>{% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
            </ol>
            {% endfor %}
        </div>
    </div>
{% endblock %}